body{
     background: linear-gradient(138deg, blue, rgb(223, 231, 223));
     height: 100vw;
     text-align: center;
     margin-top: 50px;
}

table{
    display: inline-block;
     justify-content: center;
     align-items: center;
 
}